<h1>Welcome#index</h1>


<%= link_to "Client", users_path, class:"btn" %>

<%= link_to 'Reservation', reservations_path, class:"btn" %>


 <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Créer une nouvelle chambre', new_room_path %></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Créer une nouvelle réservation', new_reservation_path %></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Voir les réservations', reservations_path%></button>
