<div class='container'>
<h1>Liste des réservation </h1>

<table>
  <thead>
      <tr>
				<th> Arrivé </th>
				<th> Départ </th>
				<th> Chambre </th>
				<th> Compte du client </th>
				<th> Email </th>
				<th> Demande spécial </th>
				<th> Action </th>
				<th></th>
				<th> Réservée il y a :</th>
      </tr>
  </thead>

	
	<tbody>
		<% @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.arrival_date.to_date %> </td>
				<td><%= reservation.departure_date.to_date%> </td>
				<td><%= reservation.room_id %> </td>
				<td><%= link_to reservation.user.username, user_path(reservation.user) %></td>
				<td><%= reservation.user.email%></td>
				<td><%= reservation.room_request %> </td>

			<% if logged_in? && reservation.user == current_user %>

			    <td><button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Voir la réservation', reservation_path(reservation), class:"text-info"%> </button></td>
				<td><button type="button" class="btn btn-sm btn-outline-danger"><%= link_to 'Annulé la réservation', reservation_path(reservation), method: :delete, data:{confirm: "Ëtes-vous sur? "} , class:"text-danger"%></button></td>
				
			<% end %>
					<td><%= time_ago_in_words(reservation.created_at) %></td>
			</tr>
		<% end %>
	</tbody>	
</table>
</div>