<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nagano Comfort Inn </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item <%= 'active' if request.path == root_path %>">
        <%= link_to 'Accueil', root_path, class:"nav-link" %>      
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Réservation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      
        <%= link_to 'Voir ses réservations', root_path, class:"dropdown-item"%>      
    
          <div class="dropdown-divider"></div>

         <%= link_to 'Prendre une réservation', root_path, class:"dropdown-item"%>

        </div>
          <li class="nav-item <%= 'active' if request.path == root_path %>">
        <%= link_to 'Administration', root_path, class:"nav-link" %>      
      </li>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div class="form-group row">
<div class="input-daterange input-group" id="datepicker">
  <label for="example-date-input" class="col-2 col-form-label">Arrivée</label>
  <div class="col-10">
    <input type="date" class="input-sm form-control" name="arrival_date" />
   
  </div>
</div>

    

        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Départ</label>
    <input type="date" class="input-sm form-control" name="departure_date" />
            <div class="col-10">
            
            </div>
</div>
        </div>
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>
  </div>
</nav>